html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    background: black;
    color: #d7d7d7;
    font-family: 'Courier New', Courier, monospace
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
input{
    font-family: 'Courier New', Courier, monospace
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
ul{
    list-style: none;
    padding: 20px;
}
a:link{
    color: #d7d7d7;
    text-decoration: none;
    transition-duration: 300ms;
    transform: translateY(-15px);
}
.file-choose-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: inset 0px 0px 50px 1px rgba(0,0,0,1);
    background-color: #404040;
    transition-duration: 300ms;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}

.file-choose-container>label{
    padding: 20px;
    cursor: pointer;
    display: block;
}
.file-choose-container:hover{
    box-shadow: inset 0px 0px 25px 1px rgba(0,0,0,1);
}
#video-file-browser{
    display: none;
}
.selected-file-details{
    display: none;
}
.selected-file-details li{
    margin-bottom: 10px;
}
.selected-file-details li a:link{
    color: #d7d7d7;
    text-decoration: none;
}
#main-video-player{
    display: none;
    max-width: 100%;
    max-height: 100%;
}

.controls-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition-duration: 300ms;
    transition-delay: 2s;
}
.controls-bar:hover{
    opacity: 1;
    transition-duration: 100ms;
    transition-delay: 0ms;
}

.control-buttons{
    margin: 30px 0 0 0;
}
.control-buttons>a:link{
    transition-duration: 300ms;
    transform: translateY(-15px);
}
.control-buttons a:hover{
    color: #ffffff;
}
.playPauseButton {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.goFullScreenButton{
    float: right;
    margin-right: 20px;
}
.play-back-progress-bar-container{
    width: 100%;
    height: 6px;
    border-top: solid 1px #d7d7d7;
    border-bottom: solid 1px #d7d7d7;
}
.volume-controls-container{
    float: left;
    transform: translateY(-15px);
    margin-left: 20px;
}
.volumeIncreaseButton{
    display: inline;
}
.volumeDecreaseButton{
    display: inline;
}
.current-volume-bar{
    display: inline;
}
.play-back-progress-bar{
    width: 0%;
    transition-duration: 300ms;
    background-color: #d7d7d7;
    height: 100%;
}
.video-progress{
    float: left;
}
.video-duration{
    float: right;
}
.sip-session-configuration-container{
    display: none;
}
.sip-session-configuration-container input{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,0.75);
    margin-bottom: 10px;
    width: calc(100% - 40px);
}
.call-confirm-container, .call-peer-container{
    position: fixed;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: 300ms;
    padding-top: 20px;
}
.call-confirm-container a:link, .call-peer-container a:link{
    margin: auto 5px;
    padding: 20px;
    width: 120px;
    text-align: center;
    height: 100px;
    box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,0.75);
    background-color: #28a745;
}
.call-confirm-container>a:last-child{
    background-color: #dc3545;
}
.timer-container{
    text-align: center;
}